/* Landscape iPhone 6 */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	#intro {
		height: 600px;
	}
	#about {
		height: 600px;
		padding-top: 120px;
	}
	#about .headline {
   		margin-bottom: 60px;
	}
	#interactiveNodes {
		height: 650px;
	}
	#explore .rawData {
	    padding: 20px 0;	
	}    
	footer ul {
		padding-left: 0;
		margin: 20px 0 0 0;
	}
    
}

/* Landscape iPhone 6 */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
	#intro {
		height: 600px;
	}
	#about {
		height: 600px;
		padding-top: 120px;
	}
	#about .headline {
   		margin-bottom: 60px;
	}
	footer ul {
		padding-left: 0;
		margin: 20px 0 0 0;
	}
    
}


/* Portrait iPad */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

	#intro {
		height: 500px;
	}
	#intro .headline {
		margin-top: 300px;
	}
	#about .headline {
   		margin-bottom: 60px;
	}	
	#about {
		height: 600px;
		padding-top: 120px;
	}	
	footer p {
    	width: 75%;
	}
	footer ul {
		padding-left: 0;
		margin: 20px 0 0 0;
	}

}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {
	#about {
	    height: 600px;
	    padding-top: 200px;
	}

}