@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/JosefinSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/JosefinSans-Light.ttf);
    font-weight: light;
}

body {
    background-color: #000 !important;
    color: #ccc !important;
    font-family: JosefinSans-Regular !important;
    overflow: hidden;
}
h1, h2, h3,
h4, h5, h6 {
    font-weight: normal !important;
    font-family: JosefinSans-Regular !important;
}
p {
    font-size: 16px;
}
.maroon {
    color: red;
}
.row {
    position: relative;
}
img {
    width: 100%;
    height: auto;
}


/* VIDEO */
video.vidBG {
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;
}  

#timelineRoadmap video.vidBG,
#explore video.vidBG {
    opacity: .3;
}

/* HEADER */
header {
    background: rgba(0,0,0,0.5);
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
header .logo {
    font-size: 32px;
    color: red;
    font-weight: 900;
}
header .navigation {
    position: relative;
}
header .navigation a {
    font-size: 14px;
    margin: 0 3px;
    color: #fff;
    line-height: 1.2;
    font-weight: bold;
}
header .navigation a.active {
    color: red;
    text-decoration: underline;
}
header .navigation .openbtn {
    border: 1px solid #ccc;
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    margin: 0 0 0 20px;
    padding: 5px 7px;
}

/* HEADER NAV */
.navigation .sidenav {
    height: 320px;
    position: fixed;
    z-index: 1;
    top: -100px;
    right: -100px;
    background: rgba(255,0,0,1);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 130px 0 0 65px;
    border-radius: 100%;
    text-transform: uppercase;
}
.navigation .sidenav ul {
    list-style: none;
    position: absolute;
    padding-left: 20px;
}
.navigation .sidenav ul li {
    line-height: 2;
}
.navigation .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.navigation .sidenav .closebtn {
    position: absolute;
    top: 95px;
    right: 110px;
    font-size: 30px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* INTRO */
#intro {
    position: relative;
    overflow: hidden;
    height: 700px;
}
#intro h1 {
    letter-spacing: 5px;
}
#intro a .fa {
    color: red;
    font-size: 68px;
    font-size: 4.250em;
    line-height: 0.5;
}
#intro .headline {
    width: 100%;
    margin-top: 400px;
}

/* ABOUT */
#about {
    position: relative;
    overflow: hidden;
    height: 700px;
    padding-top: 250px;
    font-size: 16px;
}
#about .headline {
    margin-bottom: 100px;
}
#about .title {
    color: red;
}
#about p {
    margin: 40px auto;
}

/* EXPLORE */
#explore {
    padding-top: 100px; 
    line-height: 1;
    position: relative;
    overflow: hidden;
}
#explore .topTitle {
    font-size: 35px;
    letter-spacing: 6px;
}
#explore .bottomTitle {
    font-size: 66px;
    letter-spacing: 3px;
    color: red;
}
#explore h4 {
    margin: 30px auto;
}
#explore .rawData {
    margin: 50px 0;
    position: relative;
    z-index: 2;
}
#explore .rawData .data {
    color: red;
    font-size: 70px;
    margin-bottom: 15px;
}
#explore .rawData .data span {
    border-bottom: 1px solid #ccc;
}
#explore .rawData .title {
    color: #fefefe;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3;
}

/* NODES */
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
@keyframes localShine {
    from {
        box-shadow: 0 0 0 0 hsla(0,0%,100%,0.4)
    }
    to {
        box-shadow: 0 0 0 15px hsla(0,0%,100%,0)
    }
}
#interactiveNodes {
    background: url(../images/abstract-sphere.png) no-repeat;
    background-size: 1000px 1000px;
    background-position: center top;
    height: 450px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 15px;
}
#nodes {
    max-width: 1000px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.node {
    width: 15px;
    height: 15px;
    animation: localShine 2s linear infinite;
    background: red;
    border-radius: 100%;
    position: absolute;
}
.node.pos1 {
    top: 11%;
    left: 30%;
}
.node.pos2 {
    top: 35%;
    left: 50%;
}
.node.pos3 {
    top: 20%;
    left: 75%;
}
.node.pos4 {
    top: 50%;
    left: 20%;
}
.node.pos5 {
    top: 55%;
    left: 25%;
}
.node.pos6 {
    top: 40%;
    right: 15%;
}
.node.pos7 {
    top: 60%;
    left: 15%;
}
.node.pos8 {
    top: 45%;
    left: 45%;
}


/* TECHNOLOGY */
#technology {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
}
#technology .title{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2;
}
#technology .title h1 {
    letter-spacing: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
}
#technology .svgAnimPanel {
    width: 150px;
    text-align: center;
    margin-bottom: 20px;
}    
#carousel {
    width: 100%;
    display: block;
    margin: 20px auto;
}
.caroufredsel_wrapper {
    margin: 0 auto  !important;
}
#carousel ul {
    width: 100%;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
#carousel ul li {
    max-width: 350px;
    width: 100%;
    display: inline-block;
    padding: 25px;
    text-align: center;
    float: left;
    position: relative;
    min-height: 320px;
    height: 100%;
}
#carousel #pager a {
    background: #ccc;
    color: red;
    margin: 0 3px;
    padding: 0 8px;
}
#carousel #pager a.selected {
    background: red;
    color: #fff;
}
#carousel #pager a span {
    display: none;
}
.pager {
    margin: 10px 0 !important;
}

/* TIMELINE & ROADMAP */
#timelineRoadmap {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}
#timelineContent {
    width: 100%;
    padding: 60px 0;
}
#timelineHeadline .title {
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 17px;
    margin-bottom: 80px;
}
#infiniteCarousel {
    width: 100%;
}
.tNode {
    padding: 0;
    max-width: 200px;
    width: 100%;
    height: 375px;
    display: flex;
    background: url(../images/timelineBG.png) no-repeat;
    background-size: 100%;
    background-position: center center;
    position: relative;
    float: left;
}
.tNode .data .date {
    margin-bottom: 10px;
}
.tNode .data .content {
    height: 75px;
}
.tNode .data .imgNode {
    width: 100%;
    text-align: center;
}
.tNode .data .imgNode img {
    max-width: 45px;
}
.tNode .data.odd {
    margin-top: 178px;
}


/* TEAM */

#team {
    line-height: 1.8;
    position: relative;
    overflow: hidden;
    height: 700px;
    padding-top: 200px;
}
#team .title {
    margin-bottom: 20px;
    letter-spacing: 12px;
    color:  red;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}
#teamContent {
    background: rgba(0,0,0,.5);
    padding: 20px;
}



/* FOOTER */
footer {
    background-color: #000;
    padding: 50px 0;
    color: #ccc;
    font-size: 14px;
}
footer .logo {
    margin: 20px 0 10px 0;
    font-size: 16px;
}
footer .logo .title {
    color: red;
    font-size: 28px;
}
footer .logo .title .contact {
    color: #ccc;
    font-size: 14px;
    letter-spacing: 1px;
}
footer h1 {
    letter-spacing: 12px;
    color: #fff;
}
footer ul li {
    list-style: none;
    margin: 0 0 5px 0;
    height: 34px;
    line-height: 30px;
    display: flex;
    font-size: 12px;
}
footer ul li .fa {
    font-size: 28px;
    margin-right: 10px;
    color: red;
}
footer ul li a {
    color: red;
    margin-left: 5px;
}
footer ul li a:hover {
    color: red;
}
